.AddEmployeeForm {
    max-width: 800px;
    min-width: 500px;
    display: inline-flex;
    flex-flow: column;
    align-items: stretch;
}

.AddEmployeeForm form {
    width: 100%;
}

@media (max-width: 550px) {
    .AddEmployeeForm {
        min-width: inherit;
        width: 100%;
    }
}